/* BODY SECTION */

body {
  margin: 0px;
}

body .mainBG {
  width: 100vw;
  height: 100vh;
  position: fixed;
  object-fit: cover;
  z-index: -1;
  filter: opacity(20%) brightness(200%);
}

/* HEADER SECTION */

header {
  position: fixed;
  background: transparent;
  min-width: 100vw;
  z-index: 0;
  transition: all 0.5s ease 0.5s;
}

@media only screen and (min-width: 1366px) {
  .header {
    display: flex;
    width: 1280px;
    margin: auto;
    justify-content: space-between;
    z-index: 4;
  }
}

@media only screen and (max-width: 1366px) {
  header {
    z-index: 3;
  }
}

header {
  position: fixed;
  background: transparent;
  min-width: 100vw;
  z-index: 0;
  transition: all 0.5s ease 0.5s;
}

@media only screen and (max-width: 1366px) {
  header {
    z-index: 3;
  }
}

@media only screen and (min-width: 1366px) {
  .header {
    display: flex;
    width: 1280px;
    margin: auto;
    justify-content: space-between;
    z-index: 4;
  }
}


@media only screen and (min-width: 1366px) {
  .adjuster {
    display: block;
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 1366px) {
  .adjuster {
    display: none;
  }
}

.nav-bar {
  z-index: 4;
}

@media only screen and (min-width: 1366px) {
  .nav-bar {
    padding: 40px 0px;
  }
}

@media only screen and (max-width: 1366px) {
  .nav-bar {
    background: #BC8F72;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
}

.logo img {
  display: block;
}

@media only screen and (min-width: 1366px) {
  .logo img {
    width: 60px;
    height: auto;
  }
}

@media only screen and (max-width: 1366px) {
  .logo img {
    width: auto;
    height: 44px;
    margin: 0 5vw;
    background-color: #FFF;
  }
}

/* MENU BUTTON */

#menu-check {
  opacity: 0;
  width: calc(100vw - 1230px);
  height: 30px;
  position:fixed;
  top: 130px;
  right: 0px;
  z-index: 5;
}

.menu-button {
  position: relative;
  top: 0px;
  left: 2px;
}

.menu-button i {
  color: #BC8F72;
  font-size: 40px;
}

.menu-container {
  margin: 6px -6px;
  color:#BC8F72;
}

.menu-circle {
  margin-top: 4px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  align-items: center;
}

#menu-check:checked + header {
  z-index: 3;
  transition: all 0s;
}


#menu-check:checked + * #k2logo {
  background-color: #FFF;
  transition: all 1s ease;
}

#menu-check:checked + * .menu-button i {
  color: #FFF;
}

#menu-check:checked + * .menu-container {
  margin: 6px 0px;
  color:#FFF;
}

@media only screen and (max-width: 1366px) {
  #menu-check {
    top: 14px;
    width: 30px;
    margin-right: 4.8vw;
  }

  .menu-button i {
    color: #BC8F72;
    font-size: 38px;
  }

  .menu-button {
    top: 2px;
    left: 1px;
  }

  .menu-container {
    padding: 0 5vw;
    margin: 6px 8px;
  }

  .menu-circle {
    background: #FFF;
  }

  #menu-check:checked + * .menu-button i {
    color: #BC8F72;
  }

  #menu-check:checked + * .menu-container {
    margin: 6px 8px;
    padding: 0 5vw;
  }
}


/* MENU PAGE SECTION */

.page {
  position: relative;
  left: 0;
  background-color: #BC8F72;
  min-width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
  display: block;
  transition: all 0.5s ease;
  top: 110vh;
  z-index: 3;
  
}

#menu-check:checked + * .page {
  top: 0;
}

@media only screen and (min-width: 1366px) {
  .page {
    margin-top: -252px;
    padding: 100px 0px 0px;
  }
}
  

@media only screen and (max-width: 1366px) {
  .page {
    max-height: 0;
    transition: top 0.5s ease, max-height 0s ease 0.5s;
    padding: 0px;
  }

  .menu .header {
    margin: 0px 30px 40px;
  }

  #menu-check:checked + * .page {
    top: 0;
    max-height: 100vh;
    transition: top 0.5s ease, max-height 0s;
  }
}

.menu {
  min-height: 100vh;
  margin: auto;
  margin-top: 60px;
  max-width: 1120px;
  overflow: hidden;
}

.menu .header {
  font-size: 12px;
  font-family: 'Lexend';
  text-transform: uppercase;
  letter-spacing: 12px;
  color: #FFF;
  font-weight: 100;
  margin: 0px 30px 80px;
}

.elements {
  margin: 20px 0px;
}

.elements .navigator {
  width: 40%;
}

.elements .details {
  width: 40%;
  margin: 0px 40px;
}

@media only screen and (min-width: 768px) {
  .elements {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .elements .navigator {
    width: 100%;
  }

  .elements .details {
    width: 80%;
    margin: 100px 40px;
  }
}

.navigator .container {
  width: auto;
  margin: 0px 20px 20px;
  display: flex;
}

.navigator .container .navlink {
  text-decoration: none;
  font-family: 'Lexend';
  font-size: 38px;
  color: #FFF;
  padding: 0px 10px;
}

.details .heading {
  font-family: 'NotoSans-Medium';
  color: #FFF;
  font-size: 24px;
  margin: 0px 0px 60px;
  line-height: 28px;
}

.details .subheading {
  font-family: 'Quicksand';
  color: #FFF;
  font-size: 16px;
  margin: 0px 0px 60px;
  line-height: 28px;
  letter-spacing: 1px;
}

.details .signature {
  font-family: 'Bathilda';
  color: rgb(105, 42, 42);
  letter-spacing: 1px;
  font-weight: 100;
  font-variant: normal;
  font-size: 52px;
}

.details .signature .hspace {
  font-size: 20px;
}

.details .socials {
  margin-top: 60px;
  display: flex;
  width: 200px;
  justify-content: space-between;
  font-size: large;
  color: #FFF;
  margin: 100px 0px;
}

.details .socials a {
  color: inherit;
}

.details .socials a:hover {
  font-size: xx-large;
  text-shadow: 2px 2px 8px #000;
  margin-top: -5px;
}

.details .socials #facebook:hover {
  color:#316FF6;
}
.details .socials #linkedin:hover {
  color:#0077b5;
}
.details .socials #github:hover {
  color:#2b3137;
}
.details .socials #whatsapp:hover {
  color:#075e54;
}
.details .socials #youtube:hover {
  color:#CD201F;
}

@media only screen and (max-width: 512px) {
  .details .socials {
    margin-top: 30px;
  } 
}


/* MAIN SECTION */

main {
  margin: auto;
  max-width: 1120px;
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 1366px) {
  main {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 1366px) {
  main {
    padding-top: 60px;
  }
}

/* FOOTER SECTION */

footer {
  padding: 40px 0px;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 16px;
  line-height: 30px;
}

footer .light {
  font-size: 14px;
  color: rgba(0,0,0,0.4)
}